@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Merriweather:ital,wght@1,700&display=swap');
footer{
  background-color: blue;
  
  bottom: 0;
  position: fixed;
  width: 100%;
  
}
#movie-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delete {
  margin-left: 5px;
}

.each-movie {
  box-shadow: 10px 5px 5px 0 blue;
  -webkit-box-shadow: 10px 5px 5px 0 blue;
  -moz-box-shadow: 10px 5px 5px 0 blue;
  height: 100%;
  padding-bottom: 10px;
  margin: 10px;
  color: white;
  background-color: black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.medium-image {
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
}

.movie-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.like-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-right: 5px;
}

.close {
  position: absolute;
  top: 4%;
  right: 6%;
  outline: none;
  width: 50px;
  font-size: 38px;
  border: none;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: pink;
  border-radius: 30px;
  position: fixed;
  height: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  opacity: 100%;
}

.original-image {
  height: 500px;
  margin-right: 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.redbtn {
  color: red;
}

.comment-section {
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-span {
  margin-left: 10px;
}

.submit {
  margin-top: 3px;
  border: none;
  width: 20%;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  outline: none;
  height: 30px;
  border: none;
  width: 30%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
